<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.deepwaterooo.sdk">

    <application android:allowBackup="true">

          <receiver android:name="com.deepwaterooo.sdk.VolumeBroadcastReceiver"
              android:exported="true"
              android:enabled="true">
            <intent-filter>
          <action android:name="android.media.VOLUME_CHANGED_ACTION"/>
        </intent-filter>
      </receiver>
      
    </application>

</manifest>