<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.unity3d.player">
  <!-- package="com.dw.sdk" -->
  
  <application
      android:allowBackup="true"
      android:supportsRtl="true">

    <!-- <activity android:name=".SplashActivity" -->
    <!--   android:exported="true"> -->
    <!--   <intent-filter> -->
    <!--     <action android:name="android.intent.action.MAIN"/> -->
    <!--     <category android:name="android.intent.category.LAUNCHER"/> -->
    <!--   </intent-filter> -->
    <!-- </activity> -->

    <!-- <receiver android:name=".UABroadcastReceiver" -->
    <!--           android:exported="true"> -->
    <!--   <intent-filter> -->
    <!--     <action android:name="customdefinereceiver"/> -->
    <!--   </intent-filter> -->
    <!-- </receiver> -->
    <!-- <action android:name="android.media.VOLUME_CHANGED_ACTION"/> -->
    <!-- 上面的 action 感觉不对，如果是想要接收安卓系统关于音量的广播的话，网搜一下 -->
    
  </application>
</manifest>